<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" type="image/png" href="https://static.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />
    <meta name="apple-mobile-web-app-title" content="CodePen">
    <title>Comparador</title>
    <link rel="icon" type="image/png" href="image/icono.png">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.0.18/vuetify.min.css'>
    <style>
        .login-form {
            max-width: 500px;
        }
    </style>
    <script>
        window.console = window.console || function(t) {};
    </script>
    <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
    </script>
</head>

<body translate="no">
    <div id="app">
        <v-app dark="dark">
            <v-toolbar color="teal lighten-3">
                <v-toolbar-title class="white--text">HOME
                    <v-btn icon medium dark href="home.html">
                        <v-icon medium dark>theaters</v-icon>
                    </v-btn>

                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon medium dark href="home.html">
                    <v-icon>home</v-icon>
                </v-btn>
                <v-btn icon medium dark href="profile.html">
                    <v-icon medium dark>account_circle</v-icon>
                </v-btn>
                <v-btn icon medium dark href="login.html">
                    <v-icon medium dark>forward</v-icon>
                </v-btn>
            </v-toolbar>

            <v-content>
                <br></br>
                <center>
                    <table style="font-size:25px; width:80%;">
                        <tr>
                            <td><center><img :src="pelicula1.imagen" class="image" alt="lorem" style = "width:400px; height:666px; border: 2px solid #ffffff; box-shadow: 2px 2px 10px #ffffff"></center></td>
                            <th></th>
                            <td><center><img :src="pelicula2.imagen" class="image" alt="lorem" style = "width:400px; height:666px; border: 2px solid #ffffff; box-shadow: 2px 2px 10px #ffffff"></center></td>
                        </tr>
                        <tr>
                            <td><center>
                                <v-btn disabled>
                                    <star-rating v-model="pelicula1.rating" :increment="0.01" hover></star-rating>
                                </v-btn>
                                </center>
                            </td>
                            <th style="font-size:30px;">Valoración</th>
                            <td><center>
                                <v-btn disabled>
                                    <star-rating v-model="pelicula2.rating" :increment="0.1" hover></star-rating>
                                </v-btn>
                                </center>
                            </td>
                        </tr>
                        <tr>
                            <td><center>{{pelicula1.title}}</center></td>
                            <th style="font-size:30px;">Título</th>
                            <td><center>{{pelicula2.title}}</center></td>
                        </tr>
                        <tr>
                            <td><center>{{pelicula1.director}}</center></td>
                            <th style="font-size:30px;">Director</th>
                            <td><center>{{pelicula2.director}}</center></td>
                        </tr>
                        <tr>
                            <td><center>{{pelicula1.año}}</center></td>
                            <th style="font-size:30px;">Año</th>
                            <td><center>{{pelicula2.año}}</center></td>
                        </tr>
                        <tr>
                            <td><center>{{pelicula1.pais}}</center></td>
                            <th style="font-size:30px;">País</th>
                            <td><center>{{pelicula2.pais}}</center></td>
                        </tr>
                        <tr>
                            <td><center>{{pelicula1.genero}}</center></td>
                            <th style="font-size:30px;">Género</th>
                            <td><center>{{pelicula2.genero}}</center></td>
                        </tr>
                        <tr>
                            <td><center>{{pelicula1.caracteristicas}}</center></tdstyle="width:80%; font-size: 30px;">
                            <th style="font-size:30px;">Premios</th>
                            <td><center>{{pelicula2.caracteristicas}}</center></td>
                        </tr>

                    </table>
                </center>  

            </v-content>
            <v-footer app="app ">
                <v-flex class="text-xs-center ">© 2020. All rights reserved.</v-flex>
            </v-footer>
        </v-app>
    </div>


    <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js "></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.0.18/vuetify.min.js'></script>
    <script src='https://unpkg.com/js-yaml/dist/js-yaml.min.js'></script>
    <script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>
    <script id="rendered-js ">
        Vue.component('star-rating', VueStarRating.default);
        const vm = new Vue({

            el: '#app',
            data: {
                pelicula1: {
                    title: '',
                    imagen: '',
                    rating: 0,
                    show: false,
                    pais: '',
                    genero: '',
                    director: '',
                    año: '',
                    datos: '',
                    caracteristicas: ''
                },
                pelicula2: {
                    title: '',
                    imagen: '',
                    rating: 0,
                    show: false,
                    pais: '',
                    genero: '',
                    director: '',
                    año: '',
                    datos: '',
                    caracteristicas: ''
                },

                films: [{
                    id: 1,
                    title: 'El Padrino',
                    imagen: '../imagenes/1.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Drama',
                    rating: 4.5,
                    director: 'Francis Ford Coppola',
                    año: '1972',
                    datos: '1972, ' +
                        'Francis Ford Coppola',
                    caracteristicas: '3 Oscars, 5 Globos de Oro y 1 premio BAFTA'

                }, {
                    id: 2,
                    title: 'EL Padrino. Parte II',
                    imagen: '../imagenes/2.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Drama',
                    rating: 4.45,
                    director: 'Francis Ford Coppola',
                    año: '1974',
                    datos: '1974, Francis Ford Coppola',
                    caracteristicas: '6 Oscars'
                }, {
                    id: 3,
                    title: 'La lista de Schindler',
                    imagen: '../imagenes/3.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Drama',
                    rating: 4.3,
                    director: 'Steven Spielberg',
                    año: '1993',
                    datos: '1993, Steven Spielberg',
                    caracteristicas: '7 Oscars, 3 Globos de Oro y 7 premios BAFTA'
                }, {
                    id: 4,
                    title: 'Cadena perpetua',
                    imagen: '../imagenes/4.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Drama',
                    rating: 4.3,
                    director: 'Frank Darabont',
                    año: '1994',
                    datos: '1994, Frank Darabont',
                    caracteristicas: '-'
                }, {
                    id: 5,
                    title: 'Pulp Fiction',
                    imagen: '../imagenes/5.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Thriller',
                    rating: 4.3,
                    director: 'Quentin Tarantino',
                    año: '1994',
                    datos: '1994, Quentin Tarantino',
                    caracteristicas: '1 Oscar, 1 Globo de Oro y 2 premios BAFTA'
                }, {
                    id: 6,
                    title: 'El golpe',
                    imagen: '../imagenes/6.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Intriga',
                    rating: 4.3,
                    director: 'George Roy Hill',
                    año: '1973',
                    datos: '1973, George Roy Hill',
                    caracteristicas: '7 Oscars'
                }, {
                    id: 7,
                    title: 'La vida es bella',
                    imagen: '../imagenes/7.jpg',
                    show: false,
                    pais: 'Italia',
                    genero: 'Drama',
                    rating: 4.25,
                    director: 'Roberto Benigni',
                    año: '1997',
                    datos: '1997, Roberto Benigni',
                    caracteristicas: '3 Oscars y 1 premio BAFTA'

                }, {
                    id: 8,
                    title: 'Ciudad de dios',
                    imagen: '../imagenes/8.jpg',
                    rating: 4.2,
                    show: false,
                    pais: 'Brasil',
                    genero: 'Drama',
                    director: 'Fernando Meirelles',
                    año: '2002',
                    datos: '2002, Fernando Meirelles',
                    caracteristicas: '1 premio BAFTA'

                }, {
                    id: 9,
                    title: 'Uno de los nuestros',
                    imagen: '../imagenes/9.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Drama',
                    rating: 4.2,
                    director: 'Martin Scorsese',
                    año: '1990',
                    datos: '1990, Martin Scorsese',
                    caracteristicas: '1 Oscar y 5 premios BAFTA'

                }, {
                    id: 10,
                    title: 'Alguien voló sobre el nido del cuco',
                    imagen: '../imagenes/10.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Drama',
                    rating: 4.2,
                    director: 'Milos Forman',
                    año: '1975',
                    datos: '1975, Milos Forman',
                    caracteristicas: '5 Oscars, 5 Globos de Oro y 6 premios BAFTA'

                }, {
                    id: 11,
                    title: 'American History X',
                    imagen: '../imagenes/11.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Drama',
                    rating: 4.15,
                    director: 'Tony Kaye',
                    año: '1998',
                    datos: '1998, Tony Kaye',
                    caracteristicas: '-'

                }, {
                    id: 12,
                    title: 'Dersu Uzala',
                    imagen: '../imagenes/12.jpg',
                    show: false,
                    pais: 'URSS',
                    genero: 'Aventuras',
                    rating: 4.15,
                    director: 'Akira Kurosawa',
                    año: '1975',
                    datos: '1975, Akira Kurosawa',
                    caracteristicas: '1 Oscar'

                }, {
                    id: 13,
                    title: 'Cinema paradiso',
                    imagen: '../imagenes/13.jpg',
                    show: false,
                    pais: 'Italia',
                    genero: 'Drama',
                    rating: 4.15,
                    director: 'Giuseppe Tornatore',
                    año: '1988',
                    datos: '1988, Giuseppe Tornatore',
                    caracteristicas: " 1 Oscar, 1 Globo de Oro y 5 premios BAFTA"

                }, {
                    id: 14,
                    title: 'Érase una vez en América',
                    imagen: '../imagenes/14.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Drama',
                    rating: 4.15,
                    director: 'Sergio Leone',
                    año: '1984',
                    datos: '1984, Sergio Leone',
                    caracteristicas: '2 premios BAFTA'

                }, {
                    id: 15,
                    title: 'Seven',
                    imagen: '../imagenes/15.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Thriller',
                    rating: 4.1,
                    director: 'David Fincher',
                    año: '1995',
                    datos: '1995, David Fincher',
                    caracteristicas: '-'

                }, {
                    id: 16,
                    title: 'El pianista',
                    imagen: '../imagenes/16.jpg',
                    show: false,
                    pais: 'Reino Unido',
                    genero: 'Drama',
                    rating: 4.1,
                    director: 'Roman Polanski',
                    año: '2002',
                    datos: '2002, Roman Polanski',
                    caracteristicas: '3 Oscars y 2 premios BAFTA'

                }, {
                    id: 17,
                    title: 'Apocalypse Now',
                    imagen: '../imagenes/17.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Bélico',
                    rating: 4.1,
                    director: 'Francis Ford Coppola',
                    año: '1979',
                    datos: '1979, Francis Ford Coppola',
                    caracteristicas: '2 Oscars, 3 Globos de Oro y 2 premios BAFTA'

                }, {
                    id: 18,
                    title: 'Sin perdón',
                    imagen: '../imagenes/18.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Western',
                    rating: 4.1,
                    director: 'Clint Eastwood',
                    año: '1992',
                    datos: '1992, Clint Eastwood',
                    caracteristicas: '4 Oscars, 2 Globos de Oro y 1 premio BAFTA'

                }, {
                    id: 19,
                    title: 'El precio del poder',
                    imagen: '../imagenes/19.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Drama',
                    rating: 4.1,
                    director: 'Brian De Palma',
                    año: '1983',
                    datos: '1983, Brian De Palma',
                    caracteristicas: '-'

                }, {
                    id: 20,
                    title: 'El silencio de los corderos',
                    imagen: '../imagenes/20.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Thriller',
                    rating: 4.1,
                    director: 'Jonathan Demme',
                    año: '1991',
                    datos: '1991, Jonathan Demme',
                    caracteristicas: '5 Oscars, 1 Globo de Oro y 2 premios BAFTA'

                }, {
                    id: 21,
                    title: 'La huella',
                    imagen: '../imagenes/21.jpg',
                    show: false,
                    pais: 'Reino Unido',
                    genero: 'Intriga',
                    rating: 4.1,
                    director: 'Joseph L. Mankiewicz',
                    año: '1972',
                    datos: '1972, Joseph L. Mankiewicz',
                    caracteristicas: '-'

                }, {
                    id: 22,
                    title: 'La naranja mecánica',
                    imagen: '../imagenes/22.jpg',
                    show: false,
                    pais: 'Reino Unido',
                    genero: 'Drama',
                    rating: 4.1,
                    director: 'Stanley Kubrick',
                    año: '1971',
                    datos: '1971, Stanley Kubrick',
                    caracteristicas: '-'

                }, {
                    id: 23,
                    title: 'Forrest Gump',
                    imagen: '../imagenes/23.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Drama',
                    rating: 4.1,
                    director: 'Robert Zemeckis',
                    año: '1994',
                    datos: '1994, Robert Zemeckis',
                    caracteristicas: '6 Oscars, 3 Globos de Oro y 1 premio BAFTA'

                }, {
                    id: 24,
                    title: 'Joker',
                    imagen: '../imagenes/24.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Thriller',
                    rating: 4.1,
                    director: 'Todd Phillips',
                    año: '2019',
                    datos: '2019, Todd Phillips',
                    caracteristicas: '2 Globos de Oro'

                }, {
                    id: 25,
                    title: 'Gran Torino',
                    imagen: '../imagenes/25.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Drama',
                    rating: 4.1,
                    director: 'Clint Eastwood',
                    año: '2008',
                    datos: '2008, Clint Eastwood',
                    caracteristicas: "-"

                }, {
                    id: 27,
                    title: 'La vida de Brian',
                    imagen: '../imagenes/27.jpg',
                    rating: 5,
                    show: false,
                    pais: 'Reino Unido',
                    genero: 'Comedia',
                    rating: 3.95,
                    director: 'Terry Jones',
                    año: '1979',
                    datos: '1979, Terry Jones',
                    caracteristicas: '-'

                }, {
                    id: 28,
                    title: 'Amanece, que no es poco',
                    imagen: '../imagenes/28.jpg',
                    show: false,
                    pais: 'España',
                    genero: 'Comedia',
                    rating: 3.75,
                    director: 'José Luis Cuerda',
                    año: '1989',
                    datos: '1989, José Luis Cuerda',
                    caracteristicas: '-'

                }, {
                    id: 29,
                    title: 'Los caballeros de la mesa cuadrada',
                    imagen: '../imagenes/29.jpg',
                    show: false,
                    pais: 'Reino Unido',
                    genero: 'Comedia',
                    rating: 3.7,
                    director: 'Terry Jones',
                    año: '1975',
                    datos: '1975, Terry Jones',
                    caracteristicas: '-'

                }, {
                    id: 30,
                    title: 'Reservoir Dogs',
                    imagen: '../imagenes/30.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Thriller',
                    rating: 4.05,
                    director: 'Quentin Tarantino',
                    año: '1992',
                    datos: '1992, Quentin Tarantino',
                    caracteristicas: '-'

                }, {
                    id: 31,
                    title: 'El caballero oscuro',
                    imagen: '../imagenes/31.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Thriller',
                    rating: 4.05,
                    datos: '2008, Chrisopher Nolan',
                    caracteristicas: '2 Oscars, 1 Globo de Oro y 1 premio BAFTA'

                }, ],

            },
            methods: {
                inicia: function() {
                    var id1 = 0
                    const queryString = window.location.search;
                    const urlParams = new URLSearchParams(queryString);

                    var id1 = urlParams.get('id1');
                    var id2 = urlParams.get('id2');

                    var i
                    var size = Object.keys(this.films).length

                    for (i = 0; i < size; i++) {
                        if (this.films[i].id == id1) {
                            this.pelicula1 = this.films[i]
                        }

                        if (this.films[i].id == id2) {
                            this.pelicula2 = this.films[i]
                        }
                    }
                }
            },
            mounted() {
                this.inicia();
            }
        });
    </script>
</body>

</html>