<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" type="image/png" href="https://static.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />
    <meta name="apple-mobile-web-app-title" content="CodePen">
    <title>Home</title>
    <link rel="icon" type="image/png" href="image/icono.png">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.0.18/vuetify.min.css'>
    <style>
        .login-form {
            max-width: 500px;
        }
    </style>
    <script>
        window.console = window.console || function(t) {};
    </script>
    <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
    </script>
</head>

<body translate="no">
    <div id="app">
        <v-app dark="dark">
            <v-toolbar color="teal lighten-3">
                <v-toolbar-title class="white--text">HOME
                    <v-icon medium dark>theaters</v-icon>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon medium dark aria-label="Search">
                    <v-icon>search</v-icon>
                </v-btn>
                <v-btn icon medium dark href="profile.html">
                    <v-icon medium dark>account_circle</v-icon>
                </v-btn>
                <v-btn icon medium dark href="login.html">
                    <v-icon medium dark>forward</v-icon>
                </v-btn>
            </v-toolbar>

            <v-content>
                <v-layout row wrap>
                    <v-flex v-for="film in films" :key="film.title" xs4>
                        <v-card class="elevation-0 ma-3" light="light">
                            <img :src="film.imagen" class="image" alt="lorem" width="100%" height="700">
                            <v-card-title primary-title class="layout justify-center">
                                <h1>{{film.title}}</h1>
                            </v-card-title>



                            <v-container class="layout justify-center ">
                                <v-btn disabled>
                                    <star-rating v-model="film.rating" half-increments hover></star-rating>
                                </v-btn>
                                <v-spacer></v-spacer>
                                <p class="grey--text">{{film.genero}}</p>
                                <v-btn class="info" @click="compara()" text>Comparar</v-btn>
                            </v-container>

                            <v-btn icon @click="film.show = !film.show">
                                <v-icon color="black">{{ film.show ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
                            </v-btn>

                            </v-card-actions>
                            <v-expand-transition>
                                <div v-show="film.show">
                                    <v-divider></v-divider>
                                    <v-card-text>
                                        {{film.datos}}
                                    </v-card-text>
                                </div>
                            </v-expand-transition>
                        </v-card>
                    </v-flex>
                </v-layout>

            </v-content>
            <v-footer app="app">
                <v-flex class="text-xs-center">© 2020. All rights reserved.</v-flex>
            </v-footer>
        </v-app>
    </div>


    <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.0.18/vuetify.min.js'></script>
    <script src='https://unpkg.com/js-yaml/dist/js-yaml.min.js'></script>
    <script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>
    <script id="rendered-js">
        Vue.component('star-rating', VueStarRating.default);
        new Vue({
            el: '#app',
            data: () => ({
                
                id1:"",
                id2:"",

                films: [{
                    title: 'El Padrino',
                    imagen: '../imagenes/1.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Drama',
                    rating: 5,
                    datos: '1972, ' +
                        'Francis Ford Coppola',
                    caracteristicas: " 3 Oscars: Mejor película, Actor (Marlon Brando), Guión adaptado. 11[10*] nom.\r\n1972: 5 Globos de Oro: Película (Drama), Director, Actor (Brando), Guión y BSO\r\n1972: Premios BAFTA: Mejor música. 5 nominaciones, incluyendo Mejor actor (Brando)\r\n1972: Círculo de Críticos de Nueva York: Mejor actor secundario (Duvall). 4 nominaciones\r\n1972: National Board of Review: Mejor actor sec. (Pacino) y Mejores 10 films del año\r\n1972: Sindicato de Directores (DGA): Mejor director\r\n1972: Sindicato de Guionistas (WGA): Mejor guión adaptado drama\r\n1972: Premios David di Donatello: Mejor film extranjero y Premio Especial (Al Pacino)"

                }, {
                    title: 'EL Padrino. Parte II',
                    imagen: '../imagenes/2.jpg',
                    rating: 5,
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Drama',
                    rating: 5,
                    datos: '1974, Francis Ford Coppola',
                    caracteristicas: ''
                }, {
                    title: 'La lista de Schindler',
                    imagen: '../imagenes/3.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Drama',
                    rating: 5,
                    datos: '1993, Steven Spielberg',
                    caracteristicas: ''
                }, {
                    title: 'Cadena perpetua',
                    imagen: '../imagenes/4.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Drama',
                    rating: 5,
                    datos: '1994, Frank Darabont',
                    caracteristicas: ''
                }, {
                    title: 'Pulp Fiction',
                    imagen: '../imagenes/5.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Thriller',
                    rating: 5,
                    datos: '1994, Quentin Tarantino',
                    caracteristicas: ''
                }, {
                    title: 'El golpe',
                    imagen: '../imagenes/6.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Intriga',
                    rating: 5,
                    datos: '1973, George Roy Hill',
                    caracteristicas: ''
                }, {
                    title: 'La vida es bella',
                    imagen: '../imagenes/7.jpg',
                    show: false,
                    pais: 'Italia',
                    genero: 'Drama',
                    rating: 5,
                    datos: '1997, Roberto Benigni',
                    caracteristicas: " 3 Oscars: Mejor película, Actor (Marlon Brando), Guión adaptado. 11[10*] nom.\r\n1972: 5 Globos de Oro: Película (Drama), Director, Actor (Brando), Guión y BSO\r\n1972: Premios BAFTA: Mejor música. 5 nominaciones, incluyendo Mejor actor (Brando)\r\n1972: Círculo de Críticos de Nueva York: Mejor actor secundario (Duvall). 4 nominaciones\r\n1972: National Board of Review: Mejor actor sec. (Pacino) y Mejores 10 films del año\r\n1972: Sindicato de Directores (DGA): Mejor director\r\n1972: Sindicato de Guionistas (WGA): Mejor guión adaptado drama\r\n1972: Premios David di Donatello: Mejor film extranjero y Premio Especial (Al Pacino)"

                }, {
                    title: 'Ciudad de dios',
                    imagen: '../imagenes/8.jpg',
                    rating: 5,
                    show: false,
                    pais: 'Brasil',
                    genero: 'Drama',
                    rating: 5,
                    datos: '2002, Fernando Meirelles',
                    caracteristicas: ''
                }, {
                    title: 'Uno de los nuestros',
                    imagen: '../imagenes/9.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Drama',
                    rating: 5,
                    datos: '1990, Martin Scorsese',
                    caracteristicas: ''
                }, {
                    title: 'Alguien voló sobre el nido del cuco',
                    imagen: '../imagenes/10.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Drama',
                    rating: 5,
                    datos: '1975, Milos Forman',
                    caracteristicas: ''
                }, {
                    title: 'American History X',
                    imagen: '../imagenes/11.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Drama',
                    rating: 5,
                    datos: '1998, Tony Kaye',
                    caracteristicas: ''
                }, {
                    title: 'Dersu Uzala',
                    imagen: '../imagenes/12.jpg',
                    show: false,
                    pais: 'URSS',
                    genero: 'Aventuras',
                    rating: 5,
                    datos: '1975, Akira Kurosawa',
                    caracteristicas: ''
                }, {
                    title: 'Cinema paradiso',
                    imagen: '../imagenes/13.jpg',
                    show: false,
                    pais: 'Italia',
                    genero: 'Drama',
                    rating: 5,
                    datos: '1988, Giuseppe Tornatore',
                    caracteristicas: " 3 Oscars: Mejor película, Actor (Marlon Brando), Guión adaptado. 11[10*] nom.\r\n1972: 5 Globos de Oro: Película (Drama), Director, Actor (Brando), Guión y BSO\r\n1972: Premios BAFTA: Mejor música. 5 nominaciones, incluyendo Mejor actor (Brando)\r\n1972: Círculo de Críticos de Nueva York: Mejor actor secundario (Duvall). 4 nominaciones\r\n1972: National Board of Review: Mejor actor sec. (Pacino) y Mejores 10 films del año\r\n1972: Sindicato de Directores (DGA): Mejor director\r\n1972: Sindicato de Guionistas (WGA): Mejor guión adaptado drama\r\n1972: Premios David di Donatello: Mejor film extranjero y Premio Especial (Al Pacino)"

                }, {
                    title: 'Érase una vez en América',
                    imagen: '../imagenes/14.jpg',
                    rating: 5,
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Drama',
                    rating: 5,
                    datos: '1984, Sergio Leone',
                    caracteristicas: ''
                }, {
                    title: 'Seven',
                    imagen: '../imagenes/15.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Thriller',
                    rating: 5,
                    datos: '1995, David Fincher',
                    caracteristicas: ''
                }, {
                    title: 'El pianista',
                    imagen: '../imagenes/16.jpg',
                    show: false,
                    pais: 'Reino Unido',
                    genero: 'Drama',
                    rating: 5,
                    datos: '2002, Roman Polanski',
                    caracteristicas: ''
                }, {
                    title: 'Apocalypse Now',
                    imagen: '../imagenes/17.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Bélico',
                    rating: 5,
                    datos: '1979, Francis Ford Coppola',
                    caracteristicas: ''
                }, {
                    title: 'Sin perdón',
                    imagen: '../imagenes/18.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Western',
                    rating: 5,
                    datos: '1992, Clint Eastwood',
                    caracteristicas: ''
                }, {
                    title: 'El precio del poder',
                    imagen: '../imagenes/19.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Drama',
                    rating: 5,
                    datos: '1983, Brian De Palma',
                    caracteristicas: " 3 Oscars: Mejor película, Actor (Marlon Brando), Guión adaptado. 11[10*] nom.\r\n1972: 5 Globos de Oro: Película (Drama), Director, Actor (Brando), Guión y BSO\r\n1972: Premios BAFTA: Mejor música. 5 nominaciones, incluyendo Mejor actor (Brando)\r\n1972: Círculo de Críticos de Nueva York: Mejor actor secundario (Duvall). 4 nominaciones\r\n1972: National Board of Review: Mejor actor sec. (Pacino) y Mejores 10 films del año\r\n1972: Sindicato de Directores (DGA): Mejor director\r\n1972: Sindicato de Guionistas (WGA): Mejor guión adaptado drama\r\n1972: Premios David di Donatello: Mejor film extranjero y Premio Especial (Al Pacino)"

                }, {
                    title: 'El silencio de los corderos',
                    imagen: '../imagenes/20.jpg',
                    rating: 5,
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Thriller',
                    rating: 5,
                    datos: '1991, Jonathan Demme',
                    caracteristicas: ''
                }, {
                    title: 'La huella',
                    imagen: '../imagenes/21.jpg',
                    show: false,
                    pais: 'Reino Unido',
                    genero: 'Intriga',
                    rating: 5,
                    datos: '1972, Joseph L. Mankiewicz',
                    caracteristicas: ''
                }, {
                    title: 'La naranja mecánica',
                    imagen: '../imagenes/22.jpg',
                    show: false,
                    pais: 'Reino Unido',
                    genero: 'Drama',
                    rating: 5,
                    datos: '1971, Stanley Kubrick',
                    caracteristicas: ''
                }, {
                    title: 'Forrest Gump',
                    imagen: '../imagenes/23.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Drama',
                    rating: 5,
                    datos: '1994, Robert Zemeckis',
                    caracteristicas: ''
                }, {
                    title: 'Joker',
                    imagen: '../imagenes/24.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Thriller',
                    rating: 5,
                    datos: '2019, Todd Phillips',
                    caracteristicas: ''
                }, {
                    title: 'Gran Torino',
                    imagen: '../imagenes/25.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Drama',
                    rating: 5,
                    datos: '2008, Clint Eastwood',
                    caracteristicas: " 3 Oscars: Mejor película, Actor (Marlon Brando), Guión adaptado. 11[10*] nom.\r\n1972: 5 Globos de Oro: Película (Drama), Director, Actor (Brando), Guión y BSO\r\n1972: Premios BAFTA: Mejor música. 5 nominaciones, incluyendo Mejor actor (Brando)\r\n1972: Círculo de Críticos de Nueva York: Mejor actor secundario (Duvall). 4 nominaciones\r\n1972: National Board of Review: Mejor actor sec. (Pacino) y Mejores 10 films del año\r\n1972: Sindicato de Directores (DGA): Mejor director\r\n1972: Sindicato de Guionistas (WGA): Mejor guión adaptado drama\r\n1972: Premios David di Donatello: Mejor film extranjero y Premio Especial (Al Pacino)"

                }, {
                    title: 'La vida de Brian',
                    imagen: '../imagenes/27.jpg',
                    rating: 5,
                    show: false,
                    pais: 'Reino Unido',
                    genero: 'Comedia',
                    rating: 4,
                    datos: '1979, Terry Jones',
                    caracteristicas: ''
                }, {
                    title: 'Amanece, que no es poco',
                    imagen: '../imagenes/28.jpg',
                    show: false,
                    pais: 'España',
                    genero: 'Comedia',
                    rating: 4,
                    datos: '1989, José Luis Cuerda',
                    caracteristicas: ''
                }, {
                    title: 'Los caballeros de la mesa cuadrada',
                    imagen: '../imagenes/29.jpg',
                    show: false,
                    pais: 'Reino Unido',
                    genero: 'Comedia',
                    rating: 4,
                    datos: '1975, Terry Jones ',
                    caracteristicas: ''
                }, {
                    title: 'Reservoir Dogs',
                    imagen: '../imagenes/30.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Thriller',
                    rating: 5,
                    datos: '1992, Quentin Tarantino',
                    caracteristicas: ''
                }, {
                    title: 'El caballero oscuro',
                    imagen: '../imagenes/31.jpg',
                    show: false,
                    pais: 'Estados Unidos',
                    genero: 'Thriller',
                    rating: 5,
                    datos: '2008, Chrisopher Nolan',
                    caracteristicas: ''
                }, ],
            }),

            methods:{
                compara:function(){
                    alert(this.id1)
                }
            }
        });

        //# sourceURL=pen.js
    </script>
</body>

</html>
