<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="apple-touch-icon" type="image/png" href="https://static.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />
<meta name="apple-mobile-web-app-title" content="CodePen">
<title>Registro</title>
<link rel="icon" type="image/png" href="image/icono.png">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.0.18/vuetify.min.css'>
<style>
.login-form {
  max-width: 500px;
}
</style>
<script>
  window.console = window.console || function(t) {};
</script>
<script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>
</head>
<body translate="no">
<div id="app">
<v-app dark="dark">
<v-content>
<v-container fill-height="fill-height">
<v-layout align-center="align-center" justify-center="justify-center">
<v-flex class="login-form text-xs-center">
<div class="display-1 mb-3">
<v-icon class="mr-2" large="large">theaters</v-icon> Registro
</div>
<v-card light="light">
<v-card-text>
<div class="subheading">
<template v-if="options.isLoggingIn">Registrate</template>
</div>
<v-form>
<v-text-field v-model="user.name" light="light" prepend-icon="account_circle" label="Nombre" type="nombre"></v-text-field>
<v-text-field v-model="user.date_birthday" light="light" prepend-icon="date_range" label="Fecha de Nacimiento" type="date"></v-text-field>
<v-text-field v-model="user.email" light="light" prepend-icon="email" label="Email" type="email"></v-text-field>
<v-text-field v-model="user.password2" light="light" prepend-icon="lock" label="Contraseña" type="password"></v-text-field>
<v-text-field v-model="user.password" light="light" prepend-icon="lock" label="Repetir contraseña" type="password"></v-text-field>


<v-btn v-if="options.isLoggingIn" @click="registra()" block="block">Registrarse</v-btn>
</v-form>
</v-card-text>
</v-card>
<div v-if="options.isLoggingIn">¿Ya tienes cuenta?
<v-btn light="light" href = "login.html">Login</v-btn>
</div>
</v-flex>
</v-layout>
</v-container>
</v-content>
<v-footer app="app">
<v-flex class="text-xs-center">© 2020. All rights reserved.</v-flex>
</v-footer>
</v-app>
</div>
<script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.0.18/vuetify.min.js'></script>
<script src='https://unpkg.com/js-yaml/dist/js-yaml.min.js'></script>
<script id="rendered-js">
const vm = new Vue({
  el: '#app',
  data: {
    user: {
      email: '',
      password: '',
      password2:'',
      name: '',
      date_birthday:''
    },
    options: {
      isLoggingIn: true,
      shouldStayLoggedIn: true 
    } 
  },
  methods:{
    registra:function(){
      if(this.user.email == '' || this.user.password == '' || this.user.password2 == '' || this.user.name == '' || this.user.date_birthday == ''){
        alert("Error, uno de los campos esta vacío.")
      }else{
        if(this.user.password != this.user.password2){
          alert("Error, las contraseñas no coinciden")
        }else{
          alert("Registrado con éxito.")
          window.location = "login.html?email="+this.user.email+"&password="+this.user.password+"&name="+this.user.name
        }
      }
    }
  }

});
//# sourceURL=pen.js
    </script>
</body>
</html>